@import "public";

html,body{
    height:100%;
    background: #F0F0F0;
}
#top{
    height:26px;
    background:#f2f2f2;
    border:1px solid #e5e5e5;
    border-top:0
    }
.top{
    height:26px;
    font-size:12px;
    color:#666;
    line-height: 26px;
    .top-left {
        @include WH(100px,26px)
        //width: 100px;
        //height: 26px;
        float: left;
        background: url("../images/tubiao.png") no-repeat 2px 5px;
        a {
            margin-left: 22px;
            color: #666;
        }
    }
    
    .top-middle {
        @include WH(438px,26px);
        //width: 438px;
        //height: 26px;
        float: left;
        p {
            color: #999;
            float: left;
            width: 161px;
            height: 26px;
        }
        a {
            float: left;
            padding-right: 5px;
            color: #666;
        }
    }
    
    .top-right {
        float: left;
        width: 650px;
        height: 26px;
        .top-right1 {
            margin-right: 18px;
            float: left;
        }
        .top-right2 {
            display: block;
            width: 63px;
            height: 26px;
            background: url(../images/tubiao.png) no-repeat 56px -16px;
            float: left;
            margin-right: 15px;
            position:relative;
            .top-right2-a{
                color:#666;
            }
            ul{
                border:1px solid #e5e5e5;
                border-top:0;
                width:63px;
                position:absolute;
                z-index: 2;
                background: white;
                li{
                    text-align: center;
                    a{
                        color:#666;
                    }
                }
            }
        }
        .top-right3 {
            display: block;
            width: 63px;
            height: 26px;
            background: url(../images/tubiao.png) no-repeat 56px -16px;
            float: left;
            margin-right: 10px;
            position:relative;
            .top-right3-a{
                color:#666;
            }
            ul{
                border:1px solid #e5e5e5;
                border-top:0;
                width:63px;
                position:absolute;
                z-index: 2;
                background: white;
                li{
                    text-align: center;
                    a{
                        color:#666;
                    }
                }
            }
        }
        .top-right4 {
            border-right: 1px solid #e7e5e7;
            display: block;
            float: left;
            height: 13px;
            margin: 8px 10px;
        }
        .top-right5 {
            background: url(../images/tubiao.png) no-repeat 0px -42px;
            display: block;
            float: left;
            width: 83px;
            border-right: 1px solid #e9e9e9;
            a {
                color: #666;
                margin-left: 20px;
                span {
                    color: #ff6600;
                }
            }
        }
        .top-right6 {
            width: 50px;
            background: url(../images/tubiao.png) no-repeat 0 -67px;
            display: block;
            float: left;
            padding-left: 20px;
        }
        .top-right7 {
            width: 246px;
            display: block;
            float: left;
            span {
                background: url(../images/tubiao.png) no-repeat -100px 5px;
                display: block;
                float: left;
                width: 16px;
                height: 26px;
                margin-right: 5px;
            }
            a {
                color: #fe6809;
            }
        }
    }
}


#logo1{
    height:143px;
    .logo1{
        width:1190px;
        padding-top:52px;
        padding-left:200px;
        h1{
            @include WH(250px,70px);
            float:left;
        }
        h2{
            line-height: 81px;
            color: #666;
            font-size: 18px;
            font-weight: 100;
            float:left;
       }
    }
    
    
}

#middle{
    height:480px;
    background: #fdc2be;
    .middle{
        width:998px;
        height:480px;
        margin:0 auto;
        position:relative;
        form{
            position:absolute;
            right:0;
            top:40px;
            background: #fff;
            @include WH(340px,400px);
            z-index: 50px;
            div{
                margin: 30px 30px 0 30px;
                height: 40px;
                line-height: 40px;
                p{
                    color: #f60;
                    font-size: 22px;
                    float: left;
                    font-weight: bold;
                }
                h4{
                    line-height: 40px;
                    font-size: 12px;
                    float:right;
                    a{
                        font-size: 12px;
                        color: #f60;
                        display: inline;
                        padding-right: 5px;
                    }
                    i{
                        background: url(../../dist/images/tubiao.png) no-repeat -412px -940px;
                        float: right;
                        width: 16px;
                        height: 16px;
                        margin-top: 12px;
                    }
                }
            }
            ul{
                width: 280px;
                margin: 15px auto;
                font-size: 12px;
                li{
                    position: relative;
                    height: 38px;
                    margin-top: 10px;
                    border: 1px solid #bdbdbd;
                }
                .li1{
                    i{
                        display: inline-block;
                        float: left;
                        @include WH(24px,24px);
                        position:absolute;
                        left:8px;
                        top:6px;
                        background: url(../../dist/images/tubiao.png) no-repeat -502px -911px;
                    }
                    b{
                        position: absolute;
                        left: 38px;
                        top: 11px;
                        width: 1px;
                        height: 17px;
                        background-color: #bdbdbd;
                    }
                    input{
                        width: 235px;
                        height: 38px;
                        line-height: 38px;
                        float: left;
                        text-indent: 5px;
                        border: 0px;
                        outline: none;
                        font-size: 14px;
                        padding-left: 43px;
                        background-color: #fff;
                    }
                }
                .li2{
                    width: 270px;
                    padding-left: 10px;
                    input{
                        height: 38px;
                        line-height: 38px;
                        float: left;
                        text-indent: 5px;
                        font-size: 14px;
                        width:156px;
                    }
                    img{
                        float:left;
                        margin:3px
                    }
                }
                .li3{
                    i{
                       width: 24px;
                        height: 24px;
                        line-height: 24px; 
                        display: block;
                        position:absolute;
                        left:8px;
                        top:6px;
                        background: url(../../dist/images/tubiao.png) no-repeat -526px -911px;
                    }
                    b{
                        position: absolute;
                        left: 38px;
                        top: 11px;
                        width: 1px;
                        height: 17px;
                        background-color: #bdbdbd;
                    }
                    input:nth-of-type(1){
                        width:124px;
                        height: 38px;
                        line-height: 38px;
                        float: left;
                        text-indent: 5px;
                        font-size: 14px;
                        padding-left: 43px;
                        background-color: #fff;
                    }
                    input:nth-of-type(2){
                        width: 104px;
                        height: 32px;
                        line-height: 32px;
                        color: #fff;
                        cursor: pointer;
                        background-color: #999;
                        margin: 3px;
                        text-align: center;
                        display: inline-block;
                    }
                }
                .li4{
                    i{
                        width: 24px;
                        height: 24px;
                        line-height: 24px;
                        display: block;
                        float:left;
                        position:absolute;
                        left:8px;
                        top:6px;
                        background: url(../../dist/images/tubiao.png) no-repeat -550px -911px;
                    }
                    b{
                        position: absolute;
                        left: 38px;
                        top: 11px;
                        width: 1px;
                        height: 17px;
                        background-color: #bdbdbd;
                    }
                    input{
                        width: 235px;
                        position: relative;
                        height: 38px;
                        line-height: 38px;
                        float: left;
                        font-size: 14px;
                        margin-left: 43px;
                        background-color: #fff;
                    }
                }
                .li5{
                    border:0;
                    input{
                        border:0;
                        margin-bottom: 7px;
                        color: #fff;
                        font-size: 16px;
                        width: 280px;
                        height: 36px;
                        border-radius: 3px;
                        font-weight: bold;
                        background: #f80;
                        text-align: center;
                        line-height: 36px;
                        cursor: pointer;
                    }
                    
                }
                .li6{
                    border:0;
                    i{
                        margin-right: 4px;
                        width: 12px;
                        height: 12px;
                        display: inline-block;
                        background: url(../../dist/images/allbgs.png) no-repeat 0px -432px;
                        float:left;
                    }
                    p{
                        a{
                            color: #6d9d03;
                        }
                    }
                }
                .li7{
                    height:12px;
                    width:280px;
                    border:0;
                    font-size: 12px;
                    color:#f60;
                }
            }
        }
    }
}

#bottom{
    height:150px;

    .bottom{
        height:130px;
        position:relative;
        padding-top:20px;
        .bottom2{
            text-align: center;
            padding: 14px 0;
            p{
                text-align: center;
                font-size: 12px;
                color:#999;
                
            }
            h3{
                text-align: center;
                font-size: 12px;
                color:#999;
                i{
                    background: url("../../dist/images/ba.jpg");
                    display: inline-block;
                    @include WH(20px,20px);
                }
            }
            div{
                margin:2px 0 15px 0;
                a{
                    font-size: 12px;
                    color:#999;
                    padding:0 5px 0 3px;
                    border-right:2px solid #999;
                }
            }
            img{
                margin:14px auto;
            }
        }
    }
}